<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${name1}">Lorem.</h1>
<h1 th:text="${name2}">asdkjladjsljsal'</h1>
<h1>${name}</h1>

<!--h1>lorem1^p>lorem-->
<h1>Lorem.</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eveniet odit pariatur quasi quia soluta totam
    veritatis. Accusamus, tempore, veritatis. Consequatur, deserunt ea in iusto nemo placeat quas reiciendis
    temporibus.</p>

</body>
</html>