<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--table>thead>tr>th*3^tbody>tr*5>td*3-->
<h1>테이블 형식으로 출력해보기</h1>
<table>
    <thead>
    <tr>
        <th>이름</th>
        <th>생일</th>
        <th>가격</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="data:${myList}">
        <td th:text="${data.name}"></td>
        <td th:text="${data.birthDate}"></td>
        <td th:text="${data.price}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>