<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${people[0].model}">Lorem.</h1>
<h1 th:text="${people[0].age}">Aperiam?</h1>
<h1 th:text="${people[0].married}">Quidem!</h1>
<hr>
<h1 th:text="${people[1].model}">Accusamus.</h1>
<h1 th:text="${people[1].age}">Voluptatem.</h1>
<h1 th:text="${people[1].married}">Provident?</h1>
<hr>
<h1 th:text="${people[2].model}">Alias.</h1>
<h1 th:text="${people[2].age}">Aliquam.</h1>
<h1 th:text="${people[2].married}">Reprehenderit!</h1>
</body>
</html>