<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${aiList[0].name}">Lorem.</h1>
<h1 th:text="${aiList[0].birthDate}">Iusto.</h1>
<h1 th:text="${aiList[0].price}">Libero?</h1>
<h1 th:text="${aiList[1].name}">Ipsam!</h1>
<h1 th:text="${aiList[1].birthDate}">Perferendis.</h1>
<h1 th:text="${aiList[1].price}">Iure.</h1>
<h1 th:text="${aiList[2].name}">Quaerat.</h1>
<h1 th:text="${aiList[2].birthDate}">Illo.</h1>
<h1 th:text="${aiList[2].price}">Unde.</h1>
</body>
</html>