<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, tr, th, td {
            border-collapse: collapse;
            border: 2px solid rgba(255, 192, 203, 0.67);
            text-align: center;
            padding: 3px;
        }

        table {
            width: 100%;
        }

        h3 {
            font-size: 200%;
        }

    </style>
</head>
<body>
<div style="justify-items: center">
    <h3>상품 목록</h3>
    <hr>
    <form th:action="@{/main13/sub18}">

        <label>
            최소
            <input type="number" name="min" min="0" step="0.01">
        </label>

        <label>
            최대
            <input type="number" name="max" max="100.00" step="0.01">
        </label>

    <p th:if="${(productList == null or productList.isEmpty())}">
        조회 결과가 없습니다.
    </p>
        <button>조회</button>
    </form>
    <hr>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Supplier</th>
            <th>Category</th>
            <th>Unit</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${productList}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.supplier}"></td>
            <td th:text="${product.category}"></td>
            <td th:text="${product.unit}"></td>
            <td th:text="${product.price}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>